@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(16, 95, 7);
  border-radius: 5px;
}
